.updAccHoldContainer{
    background-color: #008080;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}

.btn{
    background-color: white;
    color: #008080;
    border: none;
}

.btn:hover{
    background-color:#008080;
    color: white;
}